[submodule "subprojects/reshade"]
	path = subprojects/reshade
	url = https://github.com/crosire/reshade
[submodule "subprojects/vkroots"]
	path = subprojects/vkroots
	url = https://github.com/misyltoad/vkroots
[submodule "subprojects/stb"]
	path = subprojects/stb
	url = https://github.com/nothings/stb
